<table>
   <thead>
     <tr>
       <th>id</th>
       <th>title</th>
       <th>開始日</th>
       <th>終了日</th>
       <th>終日</th>
       <th>更新日</th>
       <th>参照</th>
       <th>編集</th>
       <th>削除</th>
     </tr>
   </thead>
 
   <tbody>
     <% if flash[:notice] %>
         <p class="notice"><%= flash[:notice] %></p>
     <% end %>
     <% @posts.each do |post| %>
       <tr>
         <td><%= post.id %></td>
         <td><%= post.title %></td>
         <td><%= post.start_date.to_s(:date_jp) %></td>
         <td><%= post.end_date.to_s(:date_jp) %></td>
         <td>
            <% if post.all_day == true %>
                ○
            <% else %>
                ×
            <% end %>
         </td>
         <td><%= post.updated_at.to_s(:datetime_jp) %></td>
         <td>
           <%= link_to "確認", post %>
         </td>
         <td>
           <%= link_to "編集", [:edit, post] %>
         </td>
         <td>
           <%= link_to "削除", post, method: :delete, data: { confirm:"本当に削除しますか？"} %>
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <p><%= link_to "新規スケジュール", :new_post %></p>