<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_container">
        <%= link_to "スケジュール管理アプリ", "/posts" %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer_container">
        <p class="footer_day">現在の日付：<%= Date.current.strftime('%Y年 %m月 %d日') %></p>
        <p class="footer_schedule_number">スケジュール数：<%= @posts.count %></p>
      </div>
    </footer>
  </body>
</html>
